.textarea-container {
  position: relative;
}
.textarea-container textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.textarea-container .buttons {
  position: absolute;
  top: 0;
  right: 0;
}

.form-control[type="number" i] {
  min-width: 4em!important;
}
